body {

    background:White;

    text-align: center;

    font-size: large;
}

.General-Chat-Ai {

  background:rgba(35, 178, 191, 0.39);

  border:1px solid rgba(255,255,255,0.08);

  border-radius:24px;

  padding:24px;

  transition:0.3s;
}

.General-Chat-Ai h3{
  margin:16px 0 10px;
}


.General-Chat-Ai{
  position:relative;
}

.badge{
  position:absolute;

  top:14px;
  right:14px;

  background:#67f96c;

  color:black;

  font-size:11px;

  padding:6px 10px;

  border-radius:999px;

  font-weight:700;
}

.General-Chat-Ai button{

  width:100%;

  margin-top:12px;

  padding:14px;

  border:none;

  border-radius:999px;

  background:
  linear-gradient(
  90deg,
  #f96767,
  #1500ff
  );

  color:black;

  font-weight:700;

  cursor:pointer;

  transition:0.3s;
}

.General-Chat-Ai button:hover{
  transform:translateY(-3px);
}

.General-Chat{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.free,
.paid{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.Image-Gen-Ai {

  background:rgba(160, 37, 37, 0.444);

  border:1px solid rgba(255,255,255,0.08);

  border-radius:24px;

  padding:24px;

  transition:0.3s;
}

.Image-Gen-Ai h3{
  margin:16px 0 10px;
}


.Image-Gen-Ai{
  position:relative;
}

.Image-Gen-Ai button{

  width:100%;

  margin-top:12px;

  padding:14px;

  border:none;

  border-radius:999px;

  background:
  linear-gradient(
  90deg,
  #ea67f9,
  #1500ff
  );

  color:black;

  font-weight:700;

  cursor:pointer;

  transition:0.3s;
}

.Image-Gen-Ai button:hover{
  transform:translateY(-3px);
}

.Image-Gen{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.Video-Gen-Ai {

  background:rgba(94, 160, 37, 0.444);

  border:1px solid rgba(255,255,255,0.08);

  border-radius:24px;

  padding:24px;

  transition:0.3s;
}

.Video-Gen-Ai h3{
  margin:16px 0 10px;
}


.Video-Gen-Ai{
  position:relative;
}

.Video-Gen-Ai button{

  width:100%;

  margin-top:12px;

  padding:14px;

  border:none;

  border-radius:999px;

  background:
  linear-gradient(
  90deg,
  #67f96e,
  #1500ff
  );

  color:black;

  font-weight:700;

  cursor:pointer;

  transition:0.3s;
}

.Video-Gen{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.Code-Gen-Ai {

  background:rgba(160, 137, 37, 0.444);

  border:1px solid rgba(255,255,255,0.08);

  border-radius:24px;

  padding:24px;

  transition:0.3s;
}

.Code-Gen-Ai h3{
  margin:16px 0 10px;
}


.Code-Gen-Ai{
  position:relative;
}

.Code-Gen-Ai button{

  width:100%;

  margin-top:12px;

  padding:14px;

  border:none;

  border-radius:999px;

  background:
  linear-gradient(
  90deg,
  #f9e567,
  #1500ff
  );

  color:black;

  font-weight:700;

  cursor:pointer;

  transition:0.3s;
}

.Code-Gen{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.Write-Gen-Ai {

  background:rgba(37, 160, 121, 0.444);

  border:1px solid rgba(255,255,255,0.08);

  border-radius:24px;

  padding:24px;

  transition:0.3s;
}

.Wrie-Gen-Ai h3{
  margin:16px 0 10px;
}


.Write-Gen-Ai{
  position:relative;
}

.Write-Gen-Ai button{

  width:100%;

  margin-top:12px;

  padding:14px;

  border:none;

  border-radius:999px;

  background:
  linear-gradient(
  90deg,
  #1ab226,
  #1500ff
  );

  color:black;

  font-weight:700;

  cursor:pointer;

  transition:0.3s;
}

.Write-Gen{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.category{
    width:90%;
    margin:50px auto;
}

.category-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

.category-card{
    background:#b61414;
    border:1px solid #174195;
    border-radius:20px;
    padding:25px;
    cursor:pointer;
    transition:0.3s ease;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.category-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(103,232,249,0.25);
}

.category-card h1{
    font-size:22px;
    margin-bottom:12px;
    color:#111827;
}

.category-card h2{
    display:inline-block;
    padding:6px 12px;
    background:linear-gradient(90deg,#67E8F9,#A78BFA);
    border-radius:999px;
    font-size:14px;
    color:#000;
    margin-bottom:15px;
}

.category-card p{
    color:#6b7280;
    font-size:15px;
    margin-top:10px;
}